<launch>
    
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
    </include>
    <node name="wtr_serial" pkg = "wtr" type = "wtr_serial">
    </node>
    <node name="wtr_master" pkg = "wtr" type = "wtr_master">
    </node>
    <node name="wtr_serial2acfly" pkg = "wtr" type = "wtr_serial2acfly">
    </node>
    
    
    
</launch>
